@charset "UTF-8";
/*レイアウトのためのCSS*/
body{
  background: #f0f0f0;
  padding: 0;
  margin: 0;
  font-family: "MS Mincho",HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

a{
  color: #333;
  text-decoration: none;
}

/*div classの設定*/
.lead{
  margin: 20px 0 0 0;
}
.btn-block{
  width: 200px;
  padding: 30px;
}
.title{
  margin: 6px 0 ;
}
.title h1{
  margin: 10px 5px 10px;
  padding: 0px 20px 2px;
  font-weight: bold;
  letter-spacing: 6px;
}

/*メインの写真、サイト説明部分*/
.container{
  background-color:#E5DED6 ;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
}
/*写真部分*/
.main-visual{
  width: 60%;
}
.top-img {
  padding: 70px 50px ;
}
.main-visual img{
  max-width: 100%;
  max-height: 100%;
}
/*文章部分*/

.main-content{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 3px;
  max-height: 60%;
  width: 40%;
  margin: 10px auto;
  padding: 100px 0;
}
.main-content p{
  padding: 20px 4px;
  letter-spacing: 8px;
  line-height: 25px;
}

.gallery{
  text-align: center;
  padding-top: 50px;
}
.gallery h4{
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
}
.content{
  padding-top: 30px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.menu>div{
  width: 33.2%;
}

/*div idの設定*/
#header{
  display: flex;
  justify-content: space-between;
}
#pictures ul{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
#shopList li{
  list-style: none;
  padding: 0 45px 0 0;
  margin: 0;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
}


li{
  padding: 20px 90px 20px 60px;
}

p h1 h2{
  color: #333333;
}
footer{
  text-align: center;
}

/*subのCSS*/
.pages{
  padding: 10px 25px;
  letter-spacing: 2px;
}
.wrap{
  margin: 0 150px;
}
.subtitle{
  text-align: center;
}
.subtitle h1{
  margin: 10px 0 0;
}
.sub-container{
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  align-items: center;
  margin: 0 0 10px;
}
.sub-img{
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  align-items: center;
}
.sub-img img{
  padding-right: 75px;
  margin: 2rem 0 10px;
}
.information{
  margin: 5rem 0 5rem;
  border: #cccccc solid 1px;
}
.access{
  display: flex;
  flex-wrap: nowrap;
  margin: 15px;

}

/*フォームのCSS*/
.form-control{
  background-color: #f0f0f0;
}



